In [32]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime

In [187]:
data=pd.read_excel("water_audit_ultra.xls")

In [190]:
data['Time']=pd.to_datetime(data['Time'],format=r"%H:%M:%S")

In [192]:
import datetime as dt
data['Time']=data['Time']+(dt.date(2023,11,9)-dt.date(1900,1,1))

In [193]:
data

,Time,Distance_tank3,Distance_tank2,Distance_tank1,Distance_tank4,Tank1,Tank2,Tank3,Tank4,Level_1,Level_2,Level_3,Level_4
0,2023-11-09 17:00:00,667.80,667.75,27.03,26.17,NaN,667.75,667.8,NaN,NaN,-43162.700,-18572.6112,NaN
1,2023-11-09 17:01:00,34.45,667.73,26.58,26.17,NaN,667.73,NaN,NaN,NaN,-43161.124,NaN,NaN
2,2023-11-09 17:02:00,25.97,667.78,200.36,26.04,200.36,667.78,NaN,NaN,-11751.8464,-43165.064,NaN,NaN
3,2023-11-09 17:03:00,26.32,667.78,200.81,26.04,200.81,667.78,NaN,NaN,-11817.6544,-43165.064,NaN,NaN
4,2023-11-09 17:04:00,26.35,667.78,200.72,26.04,200.72,667.78,NaN,NaN,-11804.4928,-43165.064,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8234,NaT,NaN,NaN,27.39,26.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8235,NaT,NaN,NaN,3.25,27.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8236,NaT,NaN,NaN,NaN,27.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8237,NaT,NaN,NaN,NaN,27.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8238,NaT,NaN,NaN,NaN,3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
data=data.replace('--',-1)

In [195]:
data=data.set_index('Time')
data=data.fillna(-1)

In [196]:
data

,Distance_tank3,Distance_tank2,Distance_tank1,Distance_tank4,Tank1,Tank2,Tank3,Tank4,Level_1,Level_2,Level_3,Level_4
Time,,,,,,,,,,,,
2023-11-09 17:00:00,667.80,667.75,27.03,26.17,-1.00,667.75,667.8,-1.0,-1.0000,-43162.700,-18572.6112,-1.0
2023-11-09 17:01:00,34.45,667.73,26.58,26.17,-1.00,667.73,-1.0,-1.0,-1.0000,-43161.124,-1.0000,-1.0
2023-11-09 17:02:00,25.97,667.78,200.36,26.04,200.36,667.78,-1.0,-1.0,-11751.8464,-43165.064,-1.0000,-1.0
2023-11-09 17:03:00,26.32,667.78,200.81,26.04,200.81,667.78,-1.0,-1.0,-11817.6544,-43165.064,-1.0000,-1.0
2023-11-09 17:04:00,26.35,667.78,200.72,26.04,200.72,667.78,-1.0,-1.0,-11804.4928,-43165.064,-1.0000,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
NaT,-1.00,-1.00,27.39,26.17,-1.00,-1.00,-1.0,-1.0,-1.0000,-1.000,-1.0000,-1.0
NaT,-1.00,-1.00,3.25,27.58,-1.00,-1.00,-1.0,-1.0,-1.0000,-1.000,-1.0000,-1.0
NaT,-1.00,-1.00,-1.00,27.39,-1.00,-1.00,-1.0,-1.0,-1.0000,-1.000,-1.0000,-1.0
NaT,-1.00,-1.00,-1.00,27.39,-1.00,-1.00,-1.0,-1.0,-1.0000,-1.000,-1.0000,-1.0
NaT,-1.00,-1.00,-1.00,3.25,-1.00,-1.00,-1.0,-1.0,-1.0000,-1.000,-1.0000,-1.0

In [197]:
data=data[data.index.notna()]

In [201]:
data_trimmed=data[(data.index.date>datetime.date(2023,11,9))*(data.index.date<datetime.date(2023,11,15))]
# data_trimmed=data[(data.index.date==datetime.date(1900,1,2))]

In [202]:
%matplotlib qt
import seaborn as sns

data_trimmed['Level_4'].plot()

In [203]:
slope_data=data_trimmed.diff(10)

In [204]:
usage=slope_data['Level_4']
# usage=usage[usage<0]

In [205]:
data_trimmed['Level_4'].plot()
(-usage).plot()
(-usage).diff().plot()

In [206]:
plt.rcParams['font.size']=30
(data_trimmed['Level_4']-4900).plot()
data_trimmed['Level_3'].plot()
# (data_trimmed['Level_2']-2970).plot()

In [207]:
data_trimmed=data_trimmed.set_index('Time')

KeyError: "None of ['Time'] are in the columns"

In [57]:
import seaborn as sns

In [208]:
data_trimmed=data_trimmed.reset_index()

In [209]:
data_trimmed.set_index('Time',inplace=True)
data_subset=data_trimmed[['Level_3','Level_4']]

In [210]:
data_subset.plot()

In [211]:
data_subset=data_subset[np.abs(data_subset-data_subset.mean())<data_subset.std()*2]

In [214]:
data_subset.plot()

In [215]:
data_subset=data_subset.rolling(20,center=True).median()

In [225]:
data_subset['Level_3_rate']=data_subset['Level_3'].diff(10).rolling(30).mean()/10 # liter per minute
data_subset['Level_4_rate']=data_subset['Level_4'].diff(10).rolling(30).mean()/10 # liter per minute

In [217]:
from scipy.fft import fft

In [218]:
usage=data_subset.diff(10).rolling(30).mean()/10 # liter per minute
usage.dropna(inplace=True)
usage_w=fft(usage['Level_3'].values)

In [219]:
# usage.shape

In [220]:
data=usage[usage<0]
data.fillna(0,inplace=True)

data=data['Level_3'].values
ps = np.abs(np.fft.fft(data))**2

time_step = 1/1440
freqs = np.fft.fftfreq(data.size, time_step)
idx = np.argsort(freqs)

plt.plot(freqs[idx], ps[idx])

In [170]:
from scipy.signal import find_peaks
freqs[find_peaks(ps,height=1e7)[0]][freqs[find_peaks(ps,height=1e7)[0]]>0] # usage frequency in times per day

array([2.97643654, 6.84580405, 8.92930963])

In [221]:
usage[usage>0].mean() # avaerage pumping rate litres/minute

Level_3    17.285085
Level_4    42.612032
dtype: float64

In [222]:
-usage[usage<0].mean() # average usage rate litres/minute

Level_3     6.552047
Level_4    11.102526
dtype: float64

In [223]:
-usage[usage<0].mean()*1440/200 # average usage rate litres/day/head

Level_3    47.174735
Level_4    79.938190
dtype: float64

In [227]:
data_subset.plot()

In [228]:
data_subset.to_csv("Tank3Tank4_9_11_to_15_11.csv")

In [229]:
data_subset['day']=data_subset.index.day_of_week

In [237]:
data_subset[data_subset['day']==6] # 0 is monday, 6 is sunday

                        Level_3    Level_4  Level_3_rate  Level_4_rate  day
Time
2023-11-12 00:00:00  1478.46868  6959.7456    -14.216512     -4.325654    6
2023-11-12 00:01:00  1467.44988  6948.2886    -14.071855     -4.250971    6
2023-11-12 00:02:00  1461.09288  6940.1414    -13.900923     -4.227209    6
2023-11-12 00:03:00  1454.56636  6938.3592    -13.707670     -4.220419    6
2023-11-12 00:04:00  1441.51332  6928.6844    -13.531651     -4.240787    6
...                         ...        ...           ...           ...  ...
2023-11-12 23:55:00  1023.64652  5807.1714    -15.903801    -23.448660    6
2023-11-12 23:56:00  1007.88116  5789.3494    -15.935728    -23.155021    6
2023-11-12 23:57:00   990.42060  5768.9814    -15.971892    -22.846955    6
2023-11-12 23:58:00   967.95920  5749.6318    -16.038005    -22.587263    6
2023-11-12 23:59:00   952.27860  5723.6626    -16.094229    -22.356426    6

[1440 rows x 5 columns]

In [238]:
# Usage for weekdays

In [267]:
weekday_data=data_subset[data_subset['day']<5]
usage1=weekday_data['Level_4_rate']
usage1=-usage1[usage1<0]*1440/200
print("Average usage rate in weekdays:",-usage1[usage1<0].mean())
usage1.groupby(usage1.index.hour//6).mean().plot()

Average usage rate in weekdays: nan

In [268]:
weekday_data=data_subset[data_subset['day']>=5]
usage2=weekday_data['Level_4_rate']
usage2=-usage2[usage2<0]*1440/200
print("Average usage rate in weekdays:",-usage2[usage2<0].mean())
usage2.groupby(usage2.index.hour//6).mean().plot()

Average usage rate in weekdays: nan

## Weekend weekdays usage

In [294]:
(usage2/(24/6)).groupby(usage2.index.hour//6).mean().plot(label="Weekends",linewidth=10,color='blue',marker='o',markersize=30)
(usage1/(24/6)).groupby(usage1.index.hour//6).mean().plot(label="Weekdays",linewidth=10,color='red',marker='o',markersize=30)
plt.xticks(ticks=[0,1,2,3],labels=["0-6","6-12","12-18","18-24"])
plt.legend()