In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import numpy as np

In [7]:
data=pd.read_csv(r"C:\Users\krish\Documents\tank4_data.txt",header=0,delimiter='\t')

In [8]:
data['Time']

0       09-11-2023 17:00
1       09-11-2023 17:01
2       09-11-2023 17:02
3       09-11-2023 17:03
4       09-11-2023 17:04
              ...
8234                 NaN
8235                 NaN
8236                 NaN
8237                 NaN
8238                 NaN
Name: Time, Length: 8239, dtype: object

In [9]:
data['Time']=pd.to_datetime(data['Time'],format=r"%d-%m-%Y %H:%M")

In [10]:
data_cleaned=data.dropna()
data_cleaned=data_cleaned[data_cleaned['Time'].dt.date>dt.date(2023,11,9)]
data_cleaned=data_cleaned[data_cleaned['Time'].dt.date<dt.date(2023,11,15)]

In [11]:
data_cleaned

                    Time     Slope
421  2023-11-10 00:00:00  -0.10223
422  2023-11-10 00:01:00  -0.11905
423  2023-11-10 00:02:00  -0.12721
424  2023-11-10 00:03:00  -0.15067
425  2023-11-10 00:04:00  -0.16597
...                  ...       ...
7616 2023-11-14 23:55:00  -0.13735
7617 2023-11-14 23:56:00  -0.13077
7618 2023-11-14 23:57:00  -0.13908
7619 2023-11-14 23:58:00  -0.13419
7620 2023-11-14 23:59:00  -0.11648

[7200 rows x 2 columns]

In [12]:
data_cleaned['Slope']=data_cleaned['Slope'].replace("--",np.nan)
data_cleaned['Slope']=data_cleaned['Slope'].astype(float)

In [13]:
data_cleaned=data_cleaned.dropna()

In [16]:
%matplotlib qt
# data_cleaned.Slope.hist(bins=np.arange(0,0.5,0.001))
data_cleaned.Slope.plot()

In [19]:
usage_data=data_cleaned[data_cleaned['Slope']<-0.1]

In [20]:
usage_data.Slope.describe()

count    3341.000000
mean       -0.178349
std         0.072684
min        -1.323070
25%        -0.209460
50%        -0.162260
75%        -0.128920
max        -0.100060
Name: Slope, dtype: float64

In [21]:
usage_data.Slope.mean()

-0.17834946123914994

In [22]:
usage_data.Time.dt.hour.hist(bins=-0.5+np.arange(25))
plt.xticks(np.arange(25))

([<matplotlib.axis.XTick at 0x272bf18c880>,
  <matplotlib.axis.XTick at 0x272bf18c850>,
  <matplotlib.axis.XTick at 0x272bf18c460>,
  <matplotlib.axis.XTick at 0x272bf1c3880>,
  <matplotlib.axis.XTick at 0x272bf13c520>,
  <matplotlib.axis.XTick at 0x272c8b6c490>,
  <matplotlib.axis.XTick at 0x272c8b6cf40>,
  <matplotlib.axis.XTick at 0x272c8b6d9f0>,
  <matplotlib.axis.XTick at 0x272c8b6e4a0>,
  <matplotlib.axis.XTick at 0x272c8b6d240>,
  <matplotlib.axis.XTick at 0x272c8b6eec0>,
  <matplotlib.axis.XTick at 0x272c8b6f970>,
  <matplotlib.axis.XTick at 0x272c8b88460>,
  <matplotlib.axis.XTick at 0x272c8b88f10>,
  <matplotlib.axis.XTick at 0x272c8b6eb30>,
  <matplotlib.axis.XTick at 0x272c8b897b0>,
  <matplotlib.axis.XTick at 0x272c8b8a260>,
  <matplotlib.axis.XTick at 0x272c8b8ad10>,
  <matplotlib.axis.XTick at 0x272c8b6f130>,
  <matplotlib.axis.XTick at 0x272c8b8b610>,
  <matplotlib.axis.XTick at 0x272c8b8bd60>,
  <matplotlib.axis.XTick at 0x272c8ba4bb0>,
  <matplotlib.axis.XTick at 0x272c8ba5660>,
  <matplotlib.axis.XTick at 0x272c8b8b820>,
  <matplotlib.axis.XTick at 0x272c8ba6080>],
 [Text(0, 0, '0'),
  Text(1, 0, '1'),
  Text(2, 0, '2'),
  Text(3, 0, '3'),
  Text(4, 0, '4'),
  Text(5, 0, '5'),
  Text(6, 0, '6'),
  Text(7, 0, '7'),
  Text(8, 0, '8'),
  Text(9, 0, '9'),
  Text(10, 0, '10'),
  Text(11, 0, '11'),
  Text(12, 0, '12'),
  Text(13, 0, '13'),
  Text(14, 0, '14'),
  Text(15, 0, '15'),
  Text(16, 0, '16'),
  Text(17, 0, '17'),
  Text(18, 0, '18'),
  Text(19, 0, '19'),
  Text(20, 0, '20'),
  Text(21, 0, '21'),
  Text(22, 0, '22'),
  Text(23, 0, '23'),
  Text(24, 0, '24')])

In [23]:
pumping_data=data_cleaned[data_cleaned['Slope']>0.3]

In [24]:
pumping_data.Slope.describe()

count    667.000000
mean       1.105584
std        0.516811
min        0.301380
25%        0.686880
50%        1.026450
75%        1.466945
max        2.752610
Name: Slope, dtype: float64

In [25]:
q1_usage=usage_data[(usage_data.Time.dt.hour>0)*(usage_data.Time.dt.hour<=6)]
q2_usage=usage_data[(usage_data.Time.dt.hour>6)*(usage_data.Time.dt.hour<=12)]
q3_usage=usage_data[(usage_data.Time.dt.hour>12)*(usage_data.Time.dt.hour<=18)]
q4_usage=usage_data[(usage_data.Time.dt.hour>18)*(usage_data.Time.dt.hour<=24)]

In [26]:
q1_usage=usage_data[(usage_data.Time.dt.hour>0)*(usage_data.Time.dt.hour<=6)]
q2_usage=usage_data[(usage_data.Time.dt.hour>6)*(usage_data.Time.dt.hour<=12)]
q3_usage=usage_data[(usage_data.Time.dt.hour>12)*(usage_data.Time.dt.hour<=18)]
q4_usage=usage_data[(usage_data.Time.dt.hour>18)*(usage_data.Time.dt.hour<=24)]

print(q1_usage.Slope.mean())
print(q2_usage.Slope.mean())
print(q3_usage.Slope.mean())
print(q4_usage.Slope.mean())

-0.1592855809859155
-0.19789363395225465
-0.17547771186440678
-0.16880369047619045

In [27]:
# 10,13,14 workingdays
# 11,12 weekends
weekend_usage_data=usage_data[usage_data.Time.dt.day.isin([11,12])]
weekday_usage_data=usage_data[usage_data.Time.dt.day.isin([10,13,14])]

In [28]:
weekend_usage_data.Slope.describe()

count    1030.000000
mean       -0.152462
std         0.046022
min        -0.542180
25%        -0.174212
50%        -0.140920
75%        -0.118483
max        -0.100060
Name: Slope, dtype: float64

In [29]:
weekday_usage_data.Slope.describe()

count    2311.000000
mean       -0.189887
std         0.079139
min        -1.323070
25%        -0.223055
50%        -0.173770
75%        -0.136355
max        -0.100120
Name: Slope, dtype: float64

In [30]:
q1_usage=weekday_usage_data[(weekday_usage_data.Time.dt.hour>0)*(weekday_usage_data.Time.dt.hour<=6)]
q2_usage=weekday_usage_data[(weekday_usage_data.Time.dt.hour>6)*(weekday_usage_data.Time.dt.hour<=12)]
q3_usage=weekday_usage_data[(weekday_usage_data.Time.dt.hour>12)*(weekday_usage_data.Time.dt.hour<=18)]
q4_usage=weekday_usage_data[(weekday_usage_data.Time.dt.hour>18)*(weekday_usage_data.Time.dt.hour<=24)]

print(q1_usage.Slope.mean())
print(q2_usage.Slope.mean())
print(q3_usage.Slope.mean())
print(q4_usage.Slope.mean())

-0.16582931330472103
-0.21436956643356642
-0.19103692647058826
-0.1774944411764706

In [31]:
q1_usage=weekend_usage_data[(weekend_usage_data.Time.dt.hour>0)*(weekend_usage_data.Time.dt.hour<=6)]
q2_usage=weekend_usage_data[(weekend_usage_data.Time.dt.hour>6)*(weekend_usage_data.Time.dt.hour<=12)]
q3_usage=weekend_usage_data[(weekend_usage_data.Time.dt.hour>12)*(weekend_usage_data.Time.dt.hour<=18)]
q4_usage=weekend_usage_data[(weekend_usage_data.Time.dt.hour>18)*(weekend_usage_data.Time.dt.hour<=24)]

print(q1_usage.Slope.mean())
print(q2_usage.Slope.mean())
print(q3_usage.Slope.mean())
print(q4_usage.Slope.mean())

-0.12938970588235296
-0.16957562499999998
-0.14778068062827227
-0.131868

In [37]:
weekend_usage_data.groupby(usage_data.Time.dt.hour).Slope.mean().plot()
usage_data.groupby(usage_data.Time.dt.hour).Slope.mean().plot()
weekday_usage_data.groupby(usage_data.Time.dt.hour).Slope.mean().plot()